GROQ_API_KEY=
SARVAM_API=

# Custom Trained YOLOv8 Model Weights URL (best.pt/zip) for Pill Counter 
YOLOV8_MODEL_WEIGHTS_URL=https://drive.google.com/file/d/1vAkC4Cer3tCYHkgnLDsS4fQHqEcV0nuy/view?usp=sharing

VITE_SUPABASE_URL=https://efxjxwvfhotdgqaefksa.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
